
.idea/misc.xml
.idea/modules.xml
.idea/tangents-gamma.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/vcs.xml
*.pyc
ISM/.DS_Store
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/encodings.xml
